<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="assets/style.css" />
    <title>About Us</title>
  </head>
  <body>
    <!-- Container -->
    <div class="container">
      <!-- Navbar -->
      <div class="navbar">
        <img src="assets/img/paw-logo.png" class="logo" />
        <nav>
          <ul>
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="updateCustomer.php">Edit Profile</a></li>
            <li><a href="index.php">Shop</a></li>
            <li><a href="aboutUs.html">About Us</a></li>
            <li><a href="notification.html">Notifications</a></li>
            <li><a href="../../Controllers/logout.php">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Content -->
    <div class="content">
      <div class="head" style="height: 600px;">
        <h1 class="container hero-title" style="padding-top: 40px;">PAW IT FORWARD!</h1>
        <br>
        <p class="container" style="font-size: 22px; margin-top: -40px; text-align: justify;">
          Paw it forward provides pet owners with convenient access to veterinary advice and pet care products. This application offers several advantages, making it a valuable resource for pet owners.
        </p>

        <br><br>

        <div class="para container">
          <p><strong>Convenience: </strong>Paw it forward offers pet owners the convenience of getting professional veterinary advice from the comfort of their homes. This is especially beneficial for those with busy schedules or when visiting a physical vet clinic is not feasible.</p>

          <p><strong>Access to Specialists: </strong>Online platforms often have a network of experienced veterinarians, including specialists in various fields. This means that pet owners can get advice on specific issues from experts in those areas.</p>
 
          <p><strong>Immediate Assistance: </strong>In emergencies or when pet owners are in doubt, Paw it forward can provide immediate assistance. This can be crucial for assessing the severity of a situation and determining if a visit to a physical clinic is necessary.</p>

          <p><strong>Follow-up and Monitoring: </strong>Paw it forward will offer follow-up services and tools for monitoring a pet's condition over time. This is particularly helpful for chronic conditions that require continuous management.</p>

          <p><strong>Product Information: </strong>Paw it forward will provide detailed product information, customer reviews, and recommendations, helping pet owners make informed choices about the products they purchase.</p>

          <p><strong>Home Delivery: </strong>With home delivery, pet owners can ensure a steady supply of pet essentials without the hassle of visiting physical stores.</p>
        </div>
      </div>
        
      </div>

      <!-- Footer -->
    <div class="footer">
        <p class="container"> © 2023 Paw It Forward. All rights reserved.</p>
        
        <div class="container footer-content">
            <div class="quickLinks">
                <ul class="">
                    <li><a href="aboutUs.html">About Us</a></li>
                    <li><a href="help.html">Help/FAQ</a></li>
                </ul>
            </div>
            <div class="contactUs">
                <p style="color: #fff; margin-bottom: 30px; margin-top: -20px;">Contact Us</p>
                <ul>
                    <li>Phone: +1234567</li>
                    <li>Email: pawitforward@gmail.com </li>
                    <li>Website: www.pawitforward.com </li>
                </ul>
        </div>
    </div>

  </body>
</html>
