<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

        h1 {
    border: 2px solid #000;
    padding: 20px;
    width: 25%; 
    text-align: center; 
    float: center;
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    </style>

    <link rel="stylesheet" href="./assets/style.css" />
</head>
<body>
    <div class="container">
        <!-- Navbar -->
        <div class="navbar">
          <img src="./assets/upload/paw-logo.png" class="logo" />
          <nav>
            <ul>
          
            <li><a href="home.php">Home</a></li>
              
              <li><a href="../controller/logout.php">Logout</a></li>
             
            </ul>
          </nav>
        </div>
      </div>
   </br>
    <h1>THank you</h1>
    <br> <br><br> <br><br> <br><br> 

    <div class="footer">
        <p class="container"> © 2023 Paw It Forward. All rights reserved.</p>
        
        <div class="container footer-content">
            <div class="quickLinks">
                <ul class="">
                    <li><a href="aboutUs.html">About Us</a></li>
                    <li><a href="help.html">Help/FAQ</a></li>
                </ul>
            </div>
            <div class="contactUs">
                <p style="color: #fff; margin-bottom: 30px; margin-top: -20px;">Contact Us</p>
                <ul>
                    <li>Phone: +880 154 768521</li>
                    <li>Email: pawitforward@gmail.com </li>
                    <li>Website: www.pawitforward.com </li>
                </ul>
        </div>
    </div>
</body>
</html>